/*
 * Clases reutilizables para el proyecto
 * (Aquí pueden ir las clases de tu grid)
 */

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.text-uppercase {
  text-transform: uppercase;
}
.centro{
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
}
